{
	"mobilemind": {
		"pagarme": {
			"ApiKey": "",
			"CryptoKey": ""
		},
		"payzen": {
			"v4": {
				"username": "",
				"password": {
					"prod": "",
					"test": ""
				}
			}
		}
	},
	"picpay": {
		"token": "",
		"sallerToken": ""
	},
	"asaas": {
		"api_key": ""
	}
}